body {
  position: relative;
}

#section1 {
  height: auto;
  background: url(../images/bg-jumbotron.jpg) no-repeat center;
  background-size: cover;
}

.gray-bg {
  background-color: rgba(245, 245, 245, 0.6);
  padding: 30px;
}

#section1, #section2, #section3 {
  margin-top: 55px;
  margin-bottom: 50px;
  text-align: center;
}

#section3 {
  background-color: cadetblue;
  color: beige;
}

#section2 img {
  width: 100%;
}

.dl-stores {
  height: 100px;
  border-radius: 8%;
}